@import "compass";

.google-tasks-portlet {		
	min-height: 100px;
	
	.tasks-wrapper {
		.settings-msg {
			float: left;
			width: 60%;
		}
		
		.import-export {
			width: 50%;
		}
	}
	
	.user-info-header {
		float: right; 
		img {
			width: 30px;
		}
	}
}